[2015-05-09 21:55] blaenk opened #2 "atom support?"
Will you be adding support for atom? Or is that specifically a non-goal, and would probably go in another package? If you do add it, it might be nice if this package were called something like 'feed-syndication' or something more general, but that is the least of things.

[2015-05-09 22:01] frewsxcv commented on #2
I have thought about it, but I am currently undecided. Right now, I am leaning towards the answer being 'no'. Ideally, there would be a separate `rust-atom` crate that handles Atom serialization, and then there would be a `rust-syndication` crate that would be an abstract wrapper around both. For now though (for my needs at least), RSS by itself suffices and so I haven't written anything Atom rela

[2015-05-09 22:02] blaenk commented on #2
Fair enough!

[2015-05-10 16:02] frewsxcv opened #3 "Look into output issues with weird chars"
https://news.ycombinator.com/item?id=9518411

[2015-07-23 04:28] frewsxcv opened #6 "Replace static str errors with an error enum"

[2015-07-23 04:30] frewsxcv commented on #6
It should implement https://doc.rust-lang.org/stable/std/error/trait.Error.html

[2015-07-29 06:07] #6 closed

[2015-10-07 22:08] mmcdole opened #8 "Handle popular extensions like iTunes and Dublin Core"
Would be nice if rust-rss could handle popular RSS extensions like the iTunes extensions used for podcast feeds or Dublin Core.

[2015-10-29 22:27] PhnxRbrn opened #10 "Channel pub_date not returning data"
When using unwrap from an RSS feed containing a pub_date in the channel section the pub_date returns none instead of the String

[2015-10-29 22:28] PhnxRbrn opened #11 "Channel last build date not returning data"
When using unwrap from an RSS feed containing a last build date  in the channel section the last build date  returns none instead of the String

[2015-10-30 01:01] #11 closed

[2015-10-30 01:01] frewsxcv commented on #10
Fixed in #12

[2015-10-30 01:01] #10 closed

[2015-10-30 01:02] frewsxcv commented on #10
Thanks for filing those issues! Just released 0.2.2 which addresses them

[2015-10-30 01:21] PhnxRbrn opened #13 "Image should be a Structure not a String"
According to the RSS Specs Image should contain the following:
required: url, title, link
optional: width, height and description

Maximum value for width is 144, default value is 88.

Maximum value for height is 400, default value is 31.

[2015-11-02 00:15] frewsxcv opened #15 "Migrate away from RustyXML"
It appears to no longer be maintained

[2015-11-15 04:42] #13 closed

[2015-12-16 04:58] JIghtuse commented on #15
Looks like [xml-rs](https://crates.io/search?q=xml) is the most popular one. It has a different API than RustyXML though.

[2015-12-16 05:00] frewsxcv commented on #15
xml-rs is the most popular one I've seen. xml5ever looks very promising, but I haven't tried it nor have I seen benchmarks

https://github.com/Ygg01/xml5ever

I'd definitely be open to accepting pull requests to switch to xml-rs though

[2015-12-16 05:10] frewsxcv commented on #2
Relevant repositories:

https://github.com/vtduncan/rust-atom

https://github.com/tomshen/rust-syndication

[2015-12-16 05:10] #2 closed

[2015-12-16 05:52] JIghtuse commented on #15
I'll try to make a branch with xml-rs underneath. Probably few more tests would be good to track regressions..

[2015-12-17 14:48] JIghtuse commented on #15
Wow. It looks like with xml-rs it will be a completely new library. rust-rss heavily uses `ViaXml`, almost all code in the library just implements this trait.

[2015-12-17 14:50] frewsxcv commented on #15
`ViaXml` is an internal trait defined in rust-rss and not RustyXML: https://github.com/frewsxcv/rust-rss/blob/f099261b7995b6a3da5737f7eec89ff5924cbaf8/src/lib.rs#L119-L122

I imagine we could just change the trait to use the xml-rs structures

[2015-12-17 14:54] JIghtuse commented on #15
Yes, I know, I already saw this trait. Problem is, RustyXML have nothing similar to `Element` struct, it abstracts xml using iterator and `Events`, like `XmlEvent::StartElement`, `XmlEvent::EndElement`. So it would be not so simple to adapt code..

[2016-04-07 09:10] Programming4life opened #21 "Accessing namespaces"
How would I access ``` "blogChannel:blogRoll" ```

[code]
I tried this witch does not work.
[code]

[2016-04-07 13:14] frewsxcv commented on #21
It looks like the XML library rust-rss uses behind the scenes (RustyXML) allows one to retrieve the namespace: https://docs.babelmonkeys.de/RustyXML/xml/struct.Element.html. Currently, rust-rss does nothing with any namespaces. [RSS 2.0 spec](http://cyber.law.harvard.edu/rss/rss.html#extendingRss) says that custom namespaces are supported.

I'd be willing to implement the detecting of a namespace

[2016-06-28 07:37] sekjun9878 opened #22 "Return partial RSS feeds"
Hello,

You're using Option() for the RSS channel and item fields, but you fail the parse function when for example, the Channel Description is missing. I don't see why this should be necessary?

Why not simply set Option(None) and continue on with the parsing returning the partial results?

I've come across a site that this library refuses to work on (looking at you abc.net.au -_-) because I get

[2016-06-28 13:26] frewsxcv commented on #22
The RSS specification says that `description` is required:

http://cyber.law.harvard.edu/rss/rss.html#requiredChannelElements

So, as per the specification, their RSS feed is not valid. What do you propose I do?

[2016-06-28 13:27] frewsxcv commented on #22
It's also required in the RSS 1.0 spec (the link above is the RSS 2.0 spec)

http://web.resource.org/rss/1.0/spec#s5.3.3

[2016-06-28 13:31] sekjun9878 commented on #22
I understand that abc.net.au's feeds aren't RSS compliant, but if the library fails just because the given feed isn't *strictly* RSS compliant, it wouldn't be of much use in real life. Many websites are lazy and don't strictly follow the spec.

Since you are already using Some() on those fields, wouldn't it be as trivial as letting the value be None if the description or any other fields aren't de

[2016-06-28 13:32] sekjun9878 commented on #22
Otherwise, what is the point of using the Result struct in the first place? It's only there if the value can be omitted

[2016-06-28 14:09] frewsxcv commented on #22
Which `Result` struct are you referring to?

[2016-06-28 14:14] sekjun9878 commented on #22
@frewsxcv My bad, it was https://doc.rust-lang.org/std/option/enum.Option.html

[2016-06-28 14:23] frewsxcv commented on #22
So if we want this to happen, there needs to be two parsers:

* One (the existing one) that is strict that matches the spec.
* The other one needs to be loose that has *all* `Option` fields.

Each of these parsers will result in a different `struct`. The strict parser should *not* have all `Option` fields.

What do you think?

[2016-06-28 14:56] frewsxcv commented on #22
If it is the case that sounds good, I'm going to disclaim that I'm pretty busy right now and probably won't get around to implementing it anytime soon. If you do though, I'll very happily merge in patches.

[2016-06-29 03:51] sekjun9878 commented on #22
@frewsxcv I'll give it a go :)

[2016-07-02 10:37] sekjun9878 commented on #22
@frewsxcv Would it be okay to use conditional compilation to implement this? A new feature flag of rss_loose compiles the loose version of rss? Which, of course, defaults to false.

It's just that creating a separate struct of RssLoose results in a lot of code duplication (at least from what Rust I know).

[code]

Thanks :)

[2016-07-02 12:17] frewsxcv commented on #22
Great idea, sounds good

[2016-08-25 15:11] jameshurst commented on #15
If anyone is still interested in an RSS parser that uses a more maintained XML library, I've made [rss-rs](https://github.com/jameshurst/rss-rs) which uses [quick-xml](https://github.com/tafia/quick-xml) as its parser.

[2016-08-28 15:56] frewsxcv commented on #15
@jameshurst If you want to join projects, let me know. We could create a GitHub organization and just use the 'rss' crates.io name this project uses.

[2016-08-28 17:27] jameshurst commented on #15
@frewsxcv I'd be interested in that. If you'd like to discuss more about that feel free to send me an email. You can find it on my GitHub profile.

[2016-09-04 00:17] jameshurst commented on #22
This should be fixed by #24. Any missing fields thats are declared as "required" by the RSS 2.0 Specification will default to an empty string.

[2016-09-04 00:17] #22 closed

[2016-09-04 00:17] jameshurst commented on #15
Resolved by #24.

[2016-09-04 00:17] #15 closed

[2016-09-04 00:36] jameshurst commented on #21
This should be fixed by #24. Any elements with non-default namespace prefixes will be placed in to `channel.extensions` and `item.extensions`.

You should be able to get the information you need using the following code.
[code]

See the [`extension`](https://rust-syndication.github.io/rss/rss/extension/index.html) module documentation for more information.

[2016-09-04 00:36] #21 closed

[2016-09-04 00:37] jameshurst commented on #8
Resolved by #24.

[2016-09-04 00:37] #8 closed

[2016-10-28 14:14] PhnxRbrn opened #28 "rating is missing from the Channel element"
When looking at the [rss spec](http://www.rssboard.org/rss-specification) I noticed that rating was missing from the Channel element

[2016-10-28 20:00] frewsxcv commented on #28
Good catch! Labeled this as a 'good first bug' in case someone gets to it before one of us does :)

[2016-10-28 20:00] frewsxcv commented on #28
If anyone wants to work on this and wants some help, let me know!

[2016-10-28 21:23] PhnxRbrn opened #29 "Add support for Media Extension"
The specification is located [here](http://www.rssboard.org/media-rss)

[2016-10-28 21:27] chrisppy opened #30 "Add support for Atom Extension"
The specification is located [here](http://www.w3.org/2005/Atom)

[2016-10-28 22:37] frewsxcv commented on #30
Might be good to make this a separate repository and separate crate. If someone is interested in this, I can create a new repository and add you to the org.

[2016-10-28 22:37] frewsxcv commented on #30
It also might be the case that a similar crate already exists.

[2016-10-28 23:58] PhnxRbrn commented on #30
I was thinking more along the lines of extending the rss schema, similar to how it is done for itunes, dublin, etc.  An example file of this is located [here](https://github.com/red-oxide/feed/blob/master/rsc/example2.xml)

[2016-10-29 16:10] frewsxcv commented on #30
Is the format used in that file spec'd anywhere? I think the spec linked in the original description is just for the Atom format?

[2016-10-29 16:38] PhnxRbrn commented on #30
I have not been able to find the spec when it is used with rss, but the common use is to add the atom feed elements to the rss channel, nothing is added to the rss item.  I will continue to look for the spec.

[2016-12-15 21:30] Kilte opened #31 "Encodings support"
Hello! As far as I understand, it doesn't work with any non UTF-8 content.
KOI8-R for example: http://www.opennet.ru/opennews/opennews_all.rss
[code]
Is it possible to add support for other encodings?

[2016-12-15 22:07] frewsxcv commented on #31
It might be that [quick-xml](https://github.com/tafia/quick-xml), the XML library that this library uses, might not support non-UTF8 content. I haven't looked too closely, but it looks like all of their tests are UTF8 based.

[2016-12-16 06:45] Kilte commented on #31
@frewsxcv Yeah, it's true. I've created an issue tafia/quick-xml#46

[2016-12-19 07:09] tafia commented on #31
I have just submitted a [PR](https://github.com/tafia/quick-xml/pull/47) to support different encodings.
The API is not *very* nice as people need to handle it manually somehow (the caller own the decoder) but it should not be a very big change in existing code.

[2016-12-21 18:38] frewsxcv commented on #31
Wow, great! I appreciate the effort, but I'm a bit busy right now and won't be able to look too closely at that PR anytime soon, so don't let me hold it up. On a side note, I'm just going to add both of you to this organization in case either of you want to contribute directly to this project. Feel free to decline.

[2016-12-22 06:40] Kilte commented on #31
@frewsxcv, Sorry, but I have not enough time. Thanks for offering though.

[2016-12-22 06:40] frewsxcv commented on #31
@Kilte No worries! :)

[2017-02-24 07:08] tafia commented on #31
Hello guys.
After a very long period working on other projects I've finally updated quick-xml to v0.6.0,
This is a major upgrade with some nice performance improvements and also adds decoding support.
I'll probably make a PR to upgrade rss repo soon.

[2017-03-20 00:34] mernen opened #32 "Text is not escaped on write"
When producing XML, text on any field is written unescaped, which in practice means any feed with HTML content will be broken.

Example:

[code]

The final roundtrip parse fails due to a literal `<feed>` that was written.

Looking into the quick-xml crate, I couldn't find it clearly stated anywhere, but from the source code, `Event::Text` is meant to hold only escaped content. (This is still true

[2017-03-20 00:39] tafia commented on #32
Quick-xml doesn't handle escaping characters when writing. Shouldn't be too complicated to add.

[2017-04-19 00:00] kpcyrd opened #33 "Failed to parse debian security feed"
hey,

I've tried to parse a bunch of rss feeds using this crate and it all worked well, until I've tried to load the debian security feed: https://www.debian.org/security/dsa-long

[code]

The feed seems to be valid, can you reproduce this issue?

[2017-04-19 03:05] frewsxcv commented on #33
rust-rss uses [quick-xml](https://github.com/tafia/quick-xml) behind the scenes. Do you happen to know if it quick-xml can successfully parse it?

Alternatively, could you set `RUST_BACKTRACE=1` so we can see the traceback?

[2017-04-19 04:42] tafia commented on #33
It uses quick-xml 0.4, in case you're testing it.

[2017-04-19 14:58] kpcyrd commented on #33
.unwrap() is called in my app, so the backtrace doesn't contain anything interesting. It shows the line where I do `data.parse::<Channel>().unwrap();`

As far as I can tell, I'm hitting [this line](https://github.com/rust-syndication/rss/blob/c37c863c2f3798877153b0ca1c24b5a769d68eba/src/channel.rs#L129).

quick-xml can parse this successfully:

[code]

[2017-04-20 03:19] frewsxcv commented on #33
Ah, I see. It's not panic'ing during parsing, it's panic'ing because you're calling `unwrap` on an `Err` as a result of the parsing. So assuming this is valid RSS, then yeah, there's a bug somewhere in the 'rss' crate. Not going to look into this for a bit, but I'll add it to my queue to look into unless someone gets to it first.

[2017-05-06 14:33] PhnxRbrn opened #34 "Merging feed and rss crates"
This issue is to merge the functionality of feed into rss.

Port the following pieces of feed:
- [ ] Builder with Validate methods
- [ ] Getter methods
- [ ] FromUrl trait
- [ ] Validate Trait
- [ ] rustfmt check in travis

Change to the following:
- [ ] Structs have private fields - reason noted [here](https://github.com/brson/rust-api-guidelines#c-struct-private)

- [ ] Update documentation

If

[2017-05-23 12:22] PhnxRbrn commented on #34
closed by #35

[2017-05-23 12:22] #34 closed

[2017-05-23 12:23] PhnxRbrn commented on #28
resolved by #35

[2017-05-28 04:43] jameshurst commented on #33
I took a look at the feed and it appears to be RSS 1.0. The reason you're getting an EOF error is because it reached the end of the file without finding an opening `<rss>` element. Currently, this library only implements the RSS 2.0 specification.

[2017-05-28 15:47] jameshurst commented on #33
I've put together a change that adds support for RSS 0.90, 0.91, 0.92, and 1.0. I've based the branch off of #36, so once that gets merged I'll make a PR with this change.

[2017-05-29 12:57] jameshurst opened #41 "Allow Channel to be modified"
The current builder model doesn't allow a `Channel` to be modified. We could accomplish this by either including setter methods on the `Channel` and other structs or by including a builder construct that takes an instance of the immutable object.

[2017-05-29 12:58] jameshurst commented on #41
@PhnxRbrn @frewsxcv what do you guys think?

[2017-05-29 15:16] frewsxcv commented on #41
I feel like this sort of comment should have gone into https://github.com/rust-syndication/rss/pull/35 when we did the restructuring. I don't have any strong feelings about this. I'm not opposed to just adding setters on all the non-builder structures. I'm not personally worried about the duplication of fields between the builders and non-builders. I'd wait for @PhnxRbrn to chime in before making

[2017-05-29 15:19] jameshurst commented on #41
Yeah, I agree this is probably something I should have thought of before we merged #35. After thinking about this issue I think the easiest solution would be to simply add a constructor to each of the builder methods that takes a non-builder object.

[2017-05-30 01:03] PhnxRbrn commented on #41
@jameshurst Personally I would prefer to keep the builder methods and add a constructor to consume the non-builder object as you mentioned in your last comment.

[2017-05-30 01:17] jameshurst commented on #41
@PhnxRbrn 👍 that's what I was leaning towards after thinking about it for a while.

[2017-05-31 00:06] PhnxRbrn commented on #28
reopening as I forgot to add rating to the from_xml and to_xml for channel.

[2017-05-31 00:52] #28 closed

[2017-05-31 01:42] #33 closed

[2017-05-31 02:05] frewsxcv commented on #31
Fixed by https://github.com/rust-syndication/rss/pull/36

[2017-05-31 02:05] #31 closed

[2017-05-31 02:06] #3 closed

[2017-06-03 19:52] #41 closed

[2017-06-04 01:38] frewsxcv opened #49 "1.0 Release"
This library has gotten a lot of great improvements recently. I can't think of anything missing really, so seems like we should bump to 1.0 soon. Anyone else have thoughts?

[2017-06-04 03:11] jameshurst commented on #49
I'm thinking that before a 1.0 #32 should be resolved.

[2017-06-18 22:16] tafia commented on #32
This should probably be better on quick-xml. Unfortunately I don't have much time at the moment.

[2017-07-25 13:09] huntiep opened #53 "Parse Error"
I ran into an issue parsing a feed, here is a minimal example:

[code]

This is the error:

[code]

This feed is parsed properly by Firefox, so it seems like an error here. Is this an issue with quick-xml?

[2017-07-25 13:17] tafia commented on #53
Hmm. This should indeed be an error as per xml specs.
See this SO thread:
https://stackoverflow.com/questions/3493405/do-i-really-need-to-encode-as-amp

I don't know what is best: follow the specs or try to make everything work ... I tend to prefer the specs which are here for a reason.

[2017-07-25 13:52] huntiep commented on #53
I'm sorry, I misunderstood what was happening in my application. This is actually the same issue as #32.

[2017-07-25 13:52] #53 closed

[2017-07-25 14:16] tafia commented on #53
Ok I see. I'm afraid you'll need to escape it yourself for now unfortunately...

[2017-07-25 15:25] huntiep commented on #32
What would be involved in fixing this? Would it just require escaping `Event::Text` on `write_event`, or is there more involved? If that's all involved I think I have a patch [here](https://github.com/huntiep/quick-xml/commit/ffcd7229d7533a5fd1fd0e5429677da09c40939c).

[2017-07-25 16:37] tafia commented on #32
Thanks!
Can you do a PR? This is not perfect but it is already much better than the current situation.
The big missing part is for special characters represented by their ASCII code.
I guess that your patch with a proper comment would be a good improvement already

[2017-08-01 20:26] huytd opened #54 "Implement serde::Serialize and serde::Deserialize for rss::Item"
First, I have to say that this is a great crate! Thank you so much for your hard work!

Most of the case, I ended up returning a list of `rss::Items` (as a vector or something) and I want to use it in my JSON data, for example:

[code]

The problem here is `rss::Item` does not implements `serde::Serialize`, so I got this error:

[code]

So I have to [remote implement](https://serde.rs/remote-deriv

[2017-08-01 22:44] frewsxcv commented on #54
I'm -1 personally, but I don't feel strongly. In my opinion serializing RSS to JSON is not a common enough usecase to warrant the extra dependency. I also don't want to give people the impression that they can use https://github.com/serde-rs/xml to output valid RSS XML. What do you think @jameshurst ? Another option would be to make it an opt-in optional dependency.

[2017-08-13 14:17] frewsxcv commented on #54
Opened a pull request with opt-in serialization: https://github.com/rust-syndication/rss/pull/55

Let me know how it looks. You can use it by specifying `features = ["serialization"]` in your cargo.toml

[2017-08-18 08:04] tafia commented on #49
I've just done a PR for #32. This is not perfect but most use case should be ok.

[2017-08-18 23:28] frewsxcv opened #57 "add regression testing for escaping"
https://github.com/rust-syndication/rss/pull/56 should add a regression test here confirming we escape properly

[2017-08-18 23:39] #32 closed

[2017-08-20 21:47] frewsxcv commented on #49
Opened a 1.0.0 pull request https://github.com/rust-syndication/rss/pull/60

[2017-08-28 04:02] #57 closed

[2017-08-28 04:02] #49 closed

[2017-08-28 14:02] jameshurst commented on #54
I'd agree with @frewsxcv here and say that this wouldn't really be a common enough use case and would probably add confusion regarding have serde output xml. I'd be -1 as well for this.

[2017-08-28 14:18] tafia commented on #54
Couldn't we just implement the `Serialize` part only?

[2017-09-04 21:33] bitemyapp opened #61 "Filtering posts (items) out of a Channel"
It's unclear how I can do this when the `items` field is private. As it stands it looks like I'm going to need to fork and vendor this library so that I can add `pub` to all the fields. Why is all the data private? It would seem to make this library considerably less useful.

[2017-09-04 22:09] frewsxcv commented on #61
Seems like we could add an `fn items_mut(&mut self) -> &mut [Item]` on a `Channel` to complement the `fn item(&self) -> &[Item]` method.

[2017-09-04 22:26] bitemyapp commented on #61
@frewsxcv To be clear, I'm _very_ grateful this library exists so that I don't have to go through the schlep of making a multi-RSS version compliant library myself!

What you describe is a solution but is there a strong motivation for making it impossible to work with the data itself? There's any number of things someone might want to do with channel metadata or other bits and the library's univer

[2017-09-10 20:17] frewsxcv commented on #61
Resolved in https://github.com/rust-syndication/rss/pull/62

In my opinion, having all the struct fields be exposed is a valid design decision here (and one I had originally for this crate). I also think the current design decision of having these getters/setters is also a valid design. I think having both exposed struct fields with the getters/setters is a bit redundant thought.

One possible adv

[2017-09-10 20:17] #61 closed

[2017-09-11 03:35] bitemyapp commented on #61
Thank you for the considered reply and the patch to support taking mutable slices of channel contents!

[2017-09-27 03:36] bitemyapp opened #63 "Slice panic when trying to render Channel into XML"
[code]

[code]

Identical XML to what I tested with can be found at: http://bitemyapp.com/rss.xml

Here's a gist just in case: https://gist.github.com/bitemyapp/d0cab492eeea16d1dc76b72dfd3ca3a9

Any ideas?

[2017-09-27 03:38] bitemyapp commented on #63
Happens if I attempt `write_to` as well,

[code]

[2017-09-27 06:18] tafia commented on #63
Can you try updating to last quick-xml?
There were some fixes recently regarding escapes.

[2017-09-27 19:54] bitemyapp commented on #63
Works now with these deps:

[code]

Thank you!

[2017-09-27 19:54] #63 closed

[2017-09-27 20:00] frewsxcv commented on #63
FYI, you should be able to do `cargo update` (or even `cargo update -p quick-xml'`) to get the latest quick-xml without needing to explicitly bump the version in the `Cargo.toml`. with cargo, `0.9.0` implies `^0.9.0`, so `0.9.4` is compatible with `0.9.0`

[2017-09-28 14:41] bitemyapp commented on #63
@frewsxcv well, it literally doesn't work <0.9.4 so I'd like my package to say as much.

[2018-02-05 08:26] djc commented on #54
So, the Rust API guidelines say that all types "that play the role of a data structure" [should derive these](https://rust-lang-nursery.github.io/api-guidelines/interoperability.html#data-structures-implement-serdes-serialize-deserialize-c-serde). That seems a fairly strong recommendation. If the rust-syndication crate want to counter this advice, it would be good to start a discussion as part of

[2018-02-11 18:25] frewsxcv commented on #54
@djc after letting this settle in my head for some months, and after reading your last comment here, i think you're absolutely right. i just updated the [serialization pull request](https://github.com/rust-syndication/rss/pull/55) to just use the `serde` flag name. i'll flag you for a review if you've got a minute

[2018-02-11 20:10] frewsxcv commented on #54
merged in https://github.com/rust-syndication/rss/pull/55

[2018-02-11 20:10] #54 closed

[2018-02-23 15:58] bwinton opened #65 "Add pretty-printing support."
I'm trying to use `rss` to generate a couple of rss feeds for some stuff I listen to, and it's really hard to see what's changed when everything is on a single line with no indentation, and the metadata is split between the top and the bottom of the file…

[2018-02-24 13:33] frewsxcv commented on #65
seems like this could be done upstream in the quick-xml crate? https://github.com/tafia/quick-xml

[2018-02-24 14:30] tafia commented on #65
https://docs.rs/quick-xml/0.11.0/quick_xml/writer/struct.Writer.html#method.new_with_indent

Might be as simple as using it.

[2018-02-24 15:58] bwinton commented on #65
Yeah, I've got [a fork that does that](https://github.com/rust-syndication/rss/compare/master...bwinton:master) (although the error handling isn't quite right), and it seems to work pretty well. Lemme know if you'd like me to fix it up and make a PR! :)

[2018-02-25 21:18] frewsxcv commented on #65
i'd be in favor of adding pretty-printing functionality in this crate, but don't let that pressure you! only do it if you have time

[2018-03-10 18:23] frewsxcv commented on #65
done in https://github.com/rust-syndication/rss/pull/66

[2018-03-10 18:23] #65 closed

[2018-04-03 19:55] FofeuLabs opened #67 "No from_url function in documentation"
The README file talks about a function named `from_url`. However, there is no such function in the documentation.

[2018-04-04 02:10] frewsxcv commented on #67
fixed in https://github.com/rust-syndication/rss/commit/2eaf0a583d72bfac39a7b08e0891e145b86f4901 and https://github.com/rust-syndication/rss/commit/129c597258d7ed7a6887098e9d1c15bfaca8ab01

you can now see `from_url` on the latest `master` documentation:

https://rust-syndication.github.io/rss/rss/struct.Channel.html#method.from_url

you won't see `from_url` on docs.rs until a new version is publi

[2018-04-04 02:10] #67 closed

[2018-07-09 19:21] andy128k opened #69 "Parse invalid XML"
It is not a rare situation to meet broken RSS. I have two examples:
1. Unescaped ampersand: `<title>Here & there</title>`
2. HTML entities: `<title>Text with &laquo;angle quotes&raquo;</title>`

Formally these documents are invalid, but practically it could be nice to parse them too.

For example Firefox skips such items but does not discard whole RSS.

Currently this crate discards such inputs.

[2018-09-03 01:22] zachschultz opened #70 "Could not find function from_url in rss::Channel"
My Cargo.toml contains:

[code]

and my small program looks like:

[code]

When trying to run `cargo run` I get this error: ` no function or associated item named `from_url` found for type `rss::Channel` in the current scope`.

Any help would be greatly appreciated, because I'm not sure why this wont work.

[2018-09-03 01:25] #70 closed, assigned to nobody

[2018-09-30 17:20] SSheldon opened #71 "Consider making fields public"
The fields of each parsed RSS element are private, only accessible through getter & setter methods. This was a change made in #35; prior to this, in version 0.4 and below, the fields were publicly accessible, like:
[code]

Looking over that pull request, I couldn't find any specific justifications for removing public access, so I'm curious if bringing back public access would be considered.

Gette

[2018-10-20 13:36] DCjanus commented on #71
I tend to expose all fields, but I don't know what other people think.

[2019-02-02 14:24] evaldast opened #74 "Channel randomized attribute placement"
Seems like every time a channel is created, it's `to_string()` value would never be equal to previous channel even if the RSS feed from which both channels were fetched is completely equal.

Calling `to_string()` on both channels and checking the diff shows me that the attributes placement is randomized. For example:

`<atom:link rel="self" type="application/rss+xml" href="link"></atom:link>`
vs
`

[2019-02-09 20:40] Riduidel opened #75 "RSS can't parse valid feed"
RSS can't parse feed https://stackoverflow.com/feeds/question/51744103 with error

	INFO [rrss2imap::feed] Reading feed from https://stackoverflow.com/feeds/question/51744103
	thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: InvalidStartTag', src\libcore\result.rs:1009:5
	stack backtrace:
	   0: std::sys::windows::backtrace::set_frames
				 at /rustc/9fda7c2237db910e41d6a712

[2019-02-09 20:52] Riduidel commented on #75
Well, seems like I didn't read documentation enough, as it seems like RSS doesn't yet support any ATOM reading.

[2019-02-09 20:57] frewsxcv commented on #75
https://github.com/rust-syndication/atom

[2019-02-10 12:09] Riduidel commented on #75
So you confirm I'll have to use both crates to parse both formats. There is no unifying crate ?

[2019-02-10 16:03] frewsxcv commented on #75
@Riduidel https://github.com/tomshen/rust-syndication might be what you're looking for

[2019-02-10 18:04] Riduidel commented on #75
Indeed, as I'm interested specifically into reading RSS/ATOM feeds, that's exactly what I was searching for. Thanks !

[2019-02-10 18:04] #75 closed

[2019-02-19 05:08] tafia commented on #74
I am not sure for rss crate itself but this is not possible direclty through quick-xml which is used internally.

[2019-02-28 16:14] evaldast commented on #74
Could you elaborate on the HashSets?
Is there an easy way to grab XML nodes, store them in HashSets and then compare?

[2019-11-16 21:02] azmeuk commented on #29
For the record, Media-RSS is used by youtube in [their feeds](https://www.youtube.com/feeds/videos.xml?channel_id=UC7_gcs09iThXybpVgjHZ_7g).

[2020-01-12 18:02] andy128k opened #84 "Consider removal of `from_url` feature"
1. Current API is not flexible enough (It is not possible to pass extra headers like ETag).
2. Reqwest is a heavy dependency.
3. Reqwest changed its main API to async one recently. Changing to this API will be a breaking change, but it will also bring tokio as a dev-dependency.

[2020-01-15 02:32] SSheldon commented on #84
++. I think the feature brings negligible utility in comparison to the maintenance cost and overhead. As a user, it isn't much harder for me to pull in reqwest myself vs enable the feature.

If we're concerned that integrating between the two might be challenging, maybe the docs could just include a short code sample on how to fetch and read a Channel?

[2020-01-19 07:37] SSheldon opened #85 "Publish new version to crates.io"
The last version of `rss` was published 8 months ago! There have been some nice improvements since then that haven't been published, including:
* updating from quick-xml 0.14 to 0.17
* removing failure
* the ability to disable the builders feature

Could a maintainer tag and publish a new version?

[2020-01-19 07:39] SSheldon commented on #85
When the next version of rss is published, I'd also love to see a new version of atom so that both crates are off of failure and have the builders feature. But I can file a separate issue on atom them :)

[2020-01-20 03:13] DCjanus commented on #85
I'm not sure which version should be, `2.0.0` or `1.9.0`? @rust-syndication/publish

[2020-01-20 06:27] SSheldon commented on #85
Here's my assessment if it's useful:
* the crate was updated to the 2018 edition of rust, which might raise the minimum supported rust version? I'm not aware of this crate advertising a msrv, and I don't think there's a consensus that this must be considered a breaking change
* the value of `Error::Xml` was changed to no longer be a `failure::Compat`, but it's still a type that implements `Error`,

[2020-01-20 17:11] DCjanus commented on #85
`1.9.0` sounds good to me, I will release a new version in two days, feel free to show your opinion.

[2020-01-24 04:04] DCjanus commented on #85
published

[2020-01-24 04:04] #85 closed

[2020-01-27 08:59] nivekuil commented on #71
Expressing my support for this change. I actually use a local fork with pub fields on Channel because borrowing the whole thing for one field was getting annoying.

[2020-02-01 16:35] casey opened #86 "Return error type other than `String` from ChannelBuilder::build"
I'm using the library to generate a feed for my personal blog, and I have an error type with a lot of `From<lib::Error> for MyError` implementations for converting errors from crates I use to my general error type.

ChannelBuilder::build returns `String` as the error type, so in order to get nice error conversions with the `?` operator, I would have to implement `From<String> for MyError`, which s

[2020-02-19 02:13] danhoffman699 commented on #29
I would like this as well, or at least the option to specify arbitrary strings

[2020-05-31 06:48] ayrat555 opened #87 "Wrong encoding"
`rss` uses wrong encoding for non-utf8 text
For example
https://pikabu.ru/xmlfeeds.php?cmd=popular

[2020-06-04 21:06] andy128k commented on #87
@ayrat555 Can you provide more details. I tried to reproduce it but it works for me. Please have a look at #90.

[2020-06-04 21:44] ayrat555 commented on #87
@andy128k Thank you for looking into the issue.
I'm not sure but I think when you saved the feed to file you fixed its encoding. Can you try using `from_url` feature?

[2020-06-04 21:49] andy128k commented on #87
@ayrat555  Actually file is in cp1251. It is github who converts it. If you [open a file](https://github.com/rust-syndication/rss/blob/8a50fa4a37278bac30ddbe7147a49d999d11f778/tests/data/pikabu.xml) and click "Raw", you will see it is still cp1251.

I am going to remove `from_url` feature soon. (see #88).

[2020-06-04 21:56] ayrat555 commented on #87
ok. I'll look into it again on the weekend. Currently, I use `rss` for https://github.com/ayrat555/el_monitorro . And it doesn't handle the encoding well. Initially, I used `from_url` feature, but got rid of it, and result is the same. I get symbols like `Р—Р°РЅР°С‡РєР°`

the values come directly from `rss`, I don't do any pre-processing

[2020-06-04 22:15] andy128k commented on #87
@ayrat555 Looks like double decoding happens here.

1. First decoding is [here](https://github.com/ayrat555/el_monitorro/blob/master/src/sync/reader/mod.rs#L41) and it is based on response header.
2. Second one happens in `quick-xml` (it is used by `rss`).

Try to change your `read_url` function to return `Vec<u8>` instead of `String`.

[2020-06-04 23:20] #84 closed

[2020-06-05 18:44] ayrat555 commented on #87
@andy128k  thank you. it was exactly that.
https://github.com/ayrat555/el_monitorro/commit/87e1f5bbead4627aedf9434a4f74536e2401024b

[2020-06-05 18:44] #87 closed

[2020-06-08 18:27] #71 closed

[2020-06-08 19:27] andy128k commented on #86
@casey This is a limitation of [derive_builder](https://crates.io/crates/derive_builder).

All structs in `rss` crate with builders have `Default` trait implemented. This means that builder's `.build()` always returns `Ok()`. So, it is safe to call `.build().unwrap()`.

This is ugly, so you can prefer to stop using builders and use regular setters.

e. g. instead of

[code]

just write

[code]

or

[2020-07-03 17:14] jo-so opened #99 "Encode & and < with hex codes"
The [feed validator](https://validator.w3.org/feed/#validate_by_input) suggests to [encode `&` and `<` with `&#26;` and `&#x3C;`](https://validator.w3.org/feed/docs/warning/CharacterData.html) for compatibility reasons:

The following input gave me the suggestion:
[code]

[2020-07-05 21:41] andy128k commented on #99
Recommendation looks dated (late 2007). It is based on tests in different RSS clients. Let's look at this list.

1. Apple Safari -- RSS removed around 2017;
2. Bloglines -- [became unavailable in early 2015](https://en.wikipedia.org/wiki/Bloglines);
3. Mozilla Firefox -- RSS removed around late 2018;
4. Internet Explorer -- probably it was IE 7 while current is 11;
5. Opera -- switched to Chromium

[2020-09-19 22:49] kitlith commented on #30
so, when I was working on ao3rss_rs, I was using this site as a reference (https://www.rssboard.org/rss-profile#namespace-elements-atom ) which implies that you include the atom schema as an xml namespace and then you can use whatever elements you want from atom -- and atom:link (with rel=self) is one of the more common use cases for this.

[2020-09-19 23:19] kitlith opened #105 "Automatically add the content namespace to a channel when an item makes use of <content:encoded> (or document the requirement)"
In my latest project, I've been generating RSS feeds from scratch (based off some web scraping). Wrote some code that looks somewhat like:
[code]
and then proceeded to run it through a feed validator and find out that the content namespace has not been added. I had to add it to the channel myself with
[code]

This was surprising, and I would prefer if it automatically added the relevant namespace,

[2020-09-19 23:27] kitlith opened #106 "Allow taking a chrono::DateTime when setting e.g. pub_date, last_build_date, etc."
^, so that the user can focus less on "how exactly do I format a RFC822 date-time" and more on "here's the timestamp, you format it correctly".

Gate it under a feature if you want, but I'd appreciate it.

[2020-09-20 10:44] andy128k commented on #105
@kitlith Thanks for a report.

Can you try a branch in #107 and check if issue is still present?

[2020-10-06 21:28] #105 closed

[2020-10-12 20:23] #106 closed

[2020-11-07 10:32] #30 closed

[2020-11-14 10:27] ayrat555 opened #116 "Add dc:date item field to pubDate field"
Some RSS 1.0 feeds have `dc:date` which contains item publication date, `rss` library saves this field to `dates`.

Can it be saved to `pubDate`?

example
https://assets.wor.jp/rss/rdf/sankei/world.rdf

[2020-11-14 21:16] andy128k commented on #116
It is not really possible to do this properly. According to the [spec](https://www.dublincore.org/specifications/dublin-core/dcmi-terms/#http://purl.org/dc/terms/date) `dc:date` can be not just a date but a range or partial date (e.g. year only).

[2020-11-16 07:25] ayrat555 commented on #116
Can it be used only if `dc:date` has a single date?

[2020-11-16 19:28] andy128k commented on #116
Such indirect logic will introduce complexity and ambiguity, Look at this not from the point of parsing of a given feed, but from the point of authoring one.

Should changing of `dc:date` also modify `pubDate`? What if `pubDate` is already set? Should it be overwritten?

[2020-11-28 07:24] ayrat555 commented on #116
@andy128k  thanks

[2020-11-28 07:24] #116 closed

[2020-11-28 08:16] ayrat555 opened #117 "valid RSS feed can not be parsed"
https://propakistani.pk/feed

If I pass raw bytes fetched from the URL above,  the `rss` library fails with `InvalidStartTag`. But just copying the contents of the feed to a file and parsing it works.

I think the issue is related to encoding. Maybe it set wrong and `rss` can not parse it?
[code]

[2020-11-28 08:45] ayrat555 commented on #117
it seems it's a Cloudflare protection issue

[2020-11-28 08:45] #117 closed

[2020-12-06 03:42] ZNielsen opened #118 "Allow choice between `write_cdata_element` and `write_text_element`"
Formatting (just a newline) for an rss description is not working for me. It appears the description of a channel is always written via `write_text_element`, while the description of an item is written with `write_cdata_element`.

I'm willing to do the work for this ask, but I'm not familiar enough with the mechanics to know if changing the channel description writer to `write_cdata_element` will

[2020-12-06 11:09] andy128k commented on #118
Description usually contains HTML markup, so additional whitespace characters (e.g. newline) are ignored by RSS viewers.

[2020-12-06 15:38] ZNielsen commented on #118
Yes, but my `<br>` tags are not rendering either.

[2020-12-06 17:20] ZNielsen commented on #118
Do viewers not typically render the HTML in the description tag?
If this ask makes no sense I'm fine to close it. Just offering to do the work if it would be an improvement.

[2020-12-07 18:13] andy128k commented on #118
If you want a `<br>` to be in a description, you need to set it explicitly. Like

[code]
Generally, you may start with PR containing a failing test. This would be a good starting point to understand where the problem is (if any).

[2020-12-10 18:56] ZNielsen commented on #118
Looks like this might just be an issue with the specific reader I was testing on.

[2020-12-10 18:56] #118 closed

[2020-12-31 05:42] ZNielsen opened #119 "Err when reading/writing/reading a channel"
`rss` does not properly escape all fields when reading an rss channel. As a result, writing an rss channel to a file, then reading back causes an Err.

Requesting channels are properly escaped on read/write.

Problem is reproducible in the program below.
Errors with:
[code]

[code]

[2020-12-31 15:37] #119 closed

[2021-06-06 23:29] #86 closed

[2021-06-07 01:39] #74 closed

[2021-06-15 06:29] ayrat555 opened #126 "Track changes"
This library also needs a Changelog like https://github.com/rust-syndication/atom

[2021-09-11 18:03] mlafeldt opened #128 "All build methods returning String instead of Error"
Hey,

First of all, thank you very much for this awesome crate. It works really well. 🎉

One thing I don't understand, however, is why all builders return `Result<T, String>` instead of `Result<T, Error>` for the `build` method.

That's not the default behavior of `derive_builder` and it makes for [some weird code](https://github.com/mlafeldt/dilbert-feed/commit/04f18df8b4682af6819cb68f924d921fa26

[2021-09-11 18:53] mlafeldt commented on #128
I'm not sure but this might be due to the error setting in `build_fn(name = "build_impl", private, error = "never::Never")`.

[2021-09-11 20:18] andy128k commented on #128
This was already reported in #86 and fixed in #122. It was just not released **yet**.

[2021-09-11 20:23] mlafeldt commented on #128
Ah, perfect! Looking forward to a new release then. 😄

[2021-09-11 20:23] #128 closed

[2022-01-29 22:19] Pajn opened #134 "Make ToXml public"
Would it be possible to either make the toxml module public or add a `pub use crate::toxml::ToXml` to lib.rs?

[2022-01-29 23:09] andy128k commented on #134
May you elaborate why this may be needed?

[2022-01-30 08:24] Pajn commented on #134
I want to encode individual items to xml. I'm subscribing to an RSS feed and will do a bunch of data processing on each item. I need to store the input for followup and possible reprocessing.
I could do that by pulling everything out to a struct of my own and use serde, however as `from_xml` is already public on individual items it feels natural that the libray would allow me to du the mirror oper

[2022-01-30 15:36] andy128k commented on #134
I think that `from_xml` was made public mistakenly. It should be `pub(crate)`.

[2022-05-03 03:39] ZelCloud opened #136 "wasm build"
Could we get a wasm build of the library officially published to something like npm?

[2022-05-03 09:30] andy128k commented on #136
The crate needs to have a JavaScript API to be published on npm. This is far out of scope of this crate.

[2022-05-21 06:04] aquacash5 opened #137 "Add support for the podcast namespace"
I know that this crate already implements the iTunes extension, however there is a new spec for podcasts that adds new features.

Specification: https://podcastindex.org/namespace/1.0

[2022-09-15 01:25] Qwertie- commented on #29
This would be nice. I had a quick look in it and its quite a chunk of work to get done though as the spec includes a whole lot of flexibility and annoying logic with multiple ways to specify metadata.

[2022-09-27 15:01] joksas opened #140 "Getters and setters for new extensions"
Thank you for this library!

I'm currently working on adding podcast namespace support (also mentioned in #137) and was wondering about the requirements for *new* extensions.

After seeing that the fields are public, I found #71 and #94. I understand that keeping getters and setters is important for existing structs to ensure backwards compatibility. **But are they also needed for *newly* added ex

[2022-09-27 23:45] andy128k commented on #140
Both options (to have public fields or to have private fields and getters/setters) have pros and cons. Unfortunately the crate was released as `1.x` and later as `2.x`. Picking one of the sides will require to release a new major version.

So, there is no better choice (yet) but to use public fields together with getters/setters (and derived builders, and serde traits).

[2022-09-28 10:13] joksas commented on #140
That's alright, thank you for letting me know.

[2022-09-28 10:13] #140 closed

[2022-11-21 12:15] benozol opened #142 "update `quick_xml` dependency"
`rss` is currently using `quick_xml` in version 0.22 released on Feb 23, 2021. but `quick_xml` is now available in version 0.26, which brings, among other things, [support for many more HTML entities](https://github.com/tafia/quick-xml/commit/1961d8e36e120cd439a4c91156b704072014da87), which otherwise cause errors in `rss` (e.g., try a feed that contains `&bull;`).

[2022-11-21 19:17] andy128k commented on #142
API of quick_xml changed a lot and upgrade is not that trivial.
Here is a branch for atom crate https://github.com/rust-syndication/atom/pull/67 (rss will be next).

[2022-11-21 19:32] benozol commented on #142
yeah I noticed that, too. great to hear that there's progress in the upgrade (planned). thanks!